<div>
    <form name="frmAdd" method="post" action="/listings/new" >
        <div>
            <label for="txtAddress">Address</label>
            <input type="text" name="txtAddress" placeholder="Address">
            <br/><br/>
            <label for="txtRent">Rent</label>
            <input type="text" name="txtRent" placeholder="Rent">
            <br/><br/>
            <button type="submit">Add</button>
        </div>
    </form>
</div>